<div style="position:relative; margin-top:20px">


<div style="position:absolute; text-align:center;  left:@(Posicion*20+10)px;  background-color: @Color; solid black; width:25px; height:25px" >
    @Id
    @*<p>Posicion @Posicion</p>*@
</div>



</div>
@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public double Posicion { get; set; } = 0;

    [Parameter]
    public EventCallback<int> PosicionChanged { get; set; }

    public int contador = 0;
    async Task HandlePositionChanged()
    {
        contador++;
        Posicion = contador;
        PosicionChanged.InvokeAsync(contador);
    }

    protected override void OnParametersSet()
  {
      if (Posicion != Posicion)
      {
          Posicion = Posicion;
          Console.WriteLine("a parameter has changed");
      }
  }
}
